<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904508839197-lfhgk9mfi5kbfc5k9sc6q3vj6cg277f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904508839197-lfhgk9mfi5kbfc5k9sc6q3vj6cg277f7</string>
	<key>API_KEY</key>
	<string>AIzaSyD5MtbWKkp90Z07bW_VuBGOd-ImMbQHq-A</string>
	<key>GCM_SENDER_ID</key>
	<string>904508839197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNotes.test</string>
	<key>PROJECT_ID</key>
	<string>flutter-bloc-notes-f6e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bloc-notes-f6e2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904508839197:ios:a7f61ab4a4e7176ee3fdf4</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-bloc-notes-f6e2b.firebaseio.com</string>
</dict>
</plist>